<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:amazon="http://schemas.amazon.com/apk/res/android" xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="37" android:compileSdkVersionCodename="17" android:installLocation="internalOnly" android:requiredSplitTypes="base__abi,base__density" android:splitTypes="" package="it.payback.client.android" platformBuildVersionCode="37" platformBuildVersionName="17">
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="*"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.IS_READY_TO_PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS"/>
        </intent>
        <package android:name="com.google.android.apps.walletnfcrel"/>
        <package android:name="com.ebay.mobile"/>
        <package android:name="com.adidas.app"/>
        <package android:name="com.adidas.app"/>
        <package android:name="com.farfetch.farfetchshop"/>
        <package android:name="com.booking"/>
        <package android:name="de.zalando.prive"/>
        <package android:name="com.justeat.app.it"/>
        <package android:name="shop.shop_apotheke.com.shopapotheke"/>
        <package android:name="com.expedia.bookings"/>
        <package android:name="com.zzkko"/>
        <package android:name="ctrip.english"/>
        <package android:name="com.douglas.main"/>
        <package android:name="com.sephora.digital"/>
        <package android:name="com.groupon"/>
        <package android:name="com.hcom.android"/>
        <package android:name="com.nike.omega"/>
        <package android:name="de.zooplus"/>
        <package android:name="com.thehutgroup.ecommerce.myprotein"/>
        <package android:name="it.cortilia.app"/>
        <package android:name="com.zhiliaoapp.musically"/>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <package android:name="com.android.vending"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="*"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE"/>
    <permission android:name="it.payback.client.android.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="it.payback.client.android.permission.RECEIVE_ADM_MESSAGE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <permission android:name="it.payback.client.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="it.payback.client.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <application android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/full_backup_content" android:icon="@mipmap/ic_launcher" android:label="@string/app_name_country" android:name="de.payback.app.ProtectedApp" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="false" android:theme="@style/Theme.Dsa">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/pb_ic_payback_badge"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/notification_color"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <meta-data android:name="io.adjoe.Playtime.AUTO_INIT_ENABLED" android:value="false"/>
        <activity android:exported="true" android:launchMode="singleTop" android:name="de.payback.app.main.ui.MainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Dsa.Splash" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/deeplinkscheme"/>
                <data android:scheme="@string/deeplinkscheme_variation_1"/>
                <data android:scheme="@string/deeplinkscheme_variation_2"/>
                <data android:scheme="@string/deeplinkscheme_variation_3"/>
                <data android:scheme="@string/deeplinkscheme_variation_4"/>
                <data android:scheme="@string/deeplinkscheme_variation_5"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https"/>
                <data android:host="www.payback.it"/>
                <data android:pathPrefix="/login/oauth/accountbinding"/>
                <data android:pathPrefix="/oauth"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:name="de.payback.app.ui.main.MainActivity" android:targetActivity="de.payback.app.main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:name="de.payback.app.data.force.ForceUpdateLegacyActivity" android:theme="@style/Theme.Dsa.Transparent"/>
        <activity android:name="de.payback.app.inappbrowser.ui.legacy.InAppBrowserLegacyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="de.payback.app.inappbrowser.ui.InAppBrowserActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="payback.feature.fuelandgo.implementation.ui.FuelAndGoActivity" android:theme="@style/Theme.DesignSystem.Aral.DayNight.Translucent"/>
        <activity android:label="@string/account_balance_header" android:name="de.payback.pay.ui.transactions.legacy.PayTransactionsListActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/dashboard_btn_pay_and_collect_a" android:launchMode="singleTop" android:name="de.payback.pay.ui.payflow.pinvalidation.PayFlowPinActivity" android:screenOrientation="portrait"/>
        <activity android:name="payback.feature.accountbalance.implementation.ui.accountbalancedetails.AccountBalanceDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="payback.feature.accountbalance.implementation.ui.transactions.details.AccountBalanceTransactionDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/account_balance_header" android:name="payback.feature.accountbalance.implementation.ui.AccountBalanceListActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="payback.feature.openapp.implementation.ui.OpenAppActivity" android:screenOrientation="portrait"/>
        <activity android:name="payback.feature.trusteddevices.implementation.ui.TrustedDevicesActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="payback.feature.trusteddevices.implementation.ui.TrustedDevicesBottomSheetActivity" android:theme="@style/Theme.DesignSystem.Payback.DayNight.Translucent" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="true" android:name="payback.feature.trusteddevices.implementation.broadcastreceivers.SmsCodeBroadcastReceiver" android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/mypayback_hl_change_permissions" android:name="payback.feature.entitlement.implementation.ui.permissioncenter.EntitlementPermissionCenterActivity" android:screenOrientation="portrait"/>
        <activity android:name="payback.feature.legal.implementation.ui.assetswebcontent.AssetsWebContentLegacyActivity" android:screenOrientation="portrait"/>
        <activity android:name="payback.feature.login.legacy.implementation.ui.de.login.welcome.WelcomeLegacyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="payback.feature.mobileupdate.implementation.ui.force.ForceUpdateActivity" android:theme="@style/Theme.Dsa.Transparent"/>
        <activity android:name="payback.feature.go.implementation.ui.permissionflow.PermissionFlowActivity" android:screenOrientation="portrait"/>
        <service android:exported="false" android:name="payback.feature.push.implementation.service.PaybackMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:label="@string/shoppinglist_title" android:name="de.payback.app.shoppinglist.ui.ShoppingListActivity" android:screenOrientation="portrait"/>
        <activity android:name="de.payback.app.shoppinglist.ui.ShoppingListDeeplinkActivity" android:theme="@style/Theme.Dsa.Transparent"/>
        <activity android:name="de.payback.core.ui.util.ShowPhoneDialogActivity" android:theme="@style/Theme.Dsa.Transparent"/>
        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled" android:value="false"/>
        <provider android:authorities="it.payback.client.android.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="io.adjoe.sdk.internal.StartupInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.google.maps.android.utils.attribution.AttributionIdInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.urbanairship.AirshipInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.google.maps.android.compose.utils.attribution.AttributionIdInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.google.maps.android.ktx.utils.attribution.AttributionIdInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="okhttp3.internal.platform.PlatformInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:exported="false" android:name="net.payback.proximity.sdk.wifi.receiver.WifiScanReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.payback.proximity.sdk.beacon.receiver.NearbyReceiver"/>
        <receiver android:exported="false" android:name="net.payback.proximity.sdk.beacon.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.payback.proximity.sdk.beacon.receiver.BeaconScanCallbackReceiver"/>
        <receiver android:name="net.payback.proximity.sdk.gps.receiver.LocationReceiver"/>
        <receiver android:name="net.payback.proximity.sdk.gps.receiver.GeofenceReceiver"/>
        <service android:exported="true" android:name="ag.umt.nfcsdk.PaybackPayHostService" android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/paybackpayapduservice"/>
        </service>
        <meta-data android:name="wrapper" android:value="java"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:hardwareAccelerated="true" android:name="io.adjoe.sdk.internal.AdjoeActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <service android:exported="false" android:name="io.adjoe.sdk.internal.DeviceStatusService" android:stopWithTask="true"/>
        <receiver android:exported="false" android:name="io.adjoe.sdk.internal.DeviceStatusTracker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="io.adjoe.sdk.internal.NotificationBroadcastReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="io.adjoe.sdk.connect.bridge.RewardsConnectDiscoveryReceiver">
            <intent-filter>
                <action android:name="io.adjoe.sdk.connect.bridge.DISCOVER"/>
            </intent-filter>
            <meta-data android:name="android.intent.receiver.exported" android:value="true"/>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:label="@string/ua_message_center_title" android:name="com.urbanairship.messagecenter.ui.MessageCenterActivity" android:theme="@style/UrbanAirship.MessageCenter.Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="com.urbanairship.messagecenter.ui.MessageActivity" android:theme="@style/UrbanAirship.MessageCenter.Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="com.urbanairship.iam.adapter.html.HtmlActivity" android:theme="@style/UrbanAirship.InAppHtml.Activity">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
        </activity>
        <activity android:exported="false" android:name="com.urbanairship.iam.adapter.fullscreen.FullscreenActivity" android:theme="@style/UrbanAirship.InAppFullscreen.Activity">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
        </activity>
        <activity android:exported="false" android:name="com.urbanairship.iam.adapter.modal.ModalActivity" android:theme="@style/UrbanAirship.InAppModal.Activity">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
        </activity>
        <activity android:exported="false" android:name="com.urbanairship.android.layout.ui.ModalActivity" android:theme="@style/UrbanAirship.Layout.ModalActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
        </activity>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.playintegrity.FirebaseAppCheckPlayIntegrityRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.FirebaseStorageKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirebaseFirestoreKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:name="com.paymorrow.card.core.api.secure3d.Secure3DActivity" android:theme="@style/CardinalSDKTheme.ActionBar"/>
        <activity android:name="com.paymorrow.card.core.api.ais.AISwebviewActivity" android:theme="@style/CardinalSDKTheme.ActionBar"/>
        <activity android:exported="false" android:name="com.paymorrow.card.core.api.secure3d.Challenge3dsHostActivity" android:theme="@style/Theme.TransparentHost.NoAnim"/>
        <service android:exported="false" android:name="com.adobe.marketing.mobile.ExtensionDiscoveryService">
            <meta-data android:name="com.adobe.marketing.mobile.analytics.internal.AnalyticsExtension" android:value="Extension"/>
            <meta-data android:name="com.adobe.marketing.mobile.userprofile.UserProfileExtension" android:value="Extension"/>
            <meta-data android:name="com.adobe.marketing.mobile.identity.IdentityExtension" android:value="Extension"/>
            <meta-data android:name="com.adobe.marketing.mobile.signal.internal.SignalExtension" android:value="Extension"/>
            <meta-data android:name="com.adobe.marketing.mobile.internal.configuration.ConfigurationExtension" android:value="Extension"/>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="it.payback.client.android.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false"/>
        <service android:exported="false" android:name="com.urbanairship.push.adm.AdmHandlerJobBase" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.urbanairship.push.adm.AdmHandlerBase"/>
        <receiver android:exported="true" android:name="com.urbanairship.push.adm.AdmPushReceiver" android:permission="com.amazon.device.messaging.permission.SEND">
            <intent-filter>
                <action android:name="com.amazon.device.messaging.intent.REGISTRATION"/>
                <action android:name="com.amazon.device.messaging.intent.RECEIVE"/>
                <category android:name="it.payback.client.android"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.urbanairship.push.NotificationProxyActivity" android:taskAffinity="it.payback.client.android.NotificationProxyActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="com.urbanairship.permission.PermissionsActivity" android:theme="@style/UrbanAirship.PermissionsActivity">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/> ` </activity>
        <activity android:exported="false" android:name="com.urbanairship.google.PlayServicesErrorActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
        </activity>
        <activity android:exported="false" android:name="com.urbanairship.actions.RateAppActivity" android:theme="@style/UrbanAirship.RateAppActivity">
            <meta-data android:name="com.urbanairship.push.iam.EXCLUDE_FROM_AUTO_SHOW" android:value="true"/>
            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_RATE_APP_INTENT_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.urbanairship.actions.WalletLoadingActivity" android:noHistory="true"/>
        <receiver android:exported="false" android:name="com.urbanairship.push.NotificationProxyReceiver">
            <intent-filter android:priority="-999">
                <action android:name="com.urbanairship.push.OPENED"/>
                <category android:name="it.payback.client.android"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.urbanairship.locale.LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="it.payback.client.android.resources.AndroidContextProvider" android:enabled="true" android:exported="false" android:name="org.jetbrains.compose.resources.AndroidContextProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder">
            <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:exported="false" android:fitsSystemWindows="true" android:name="androidx.credentials.playservices.HiddenActivity" android:theme="@style/Theme.Hidden"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <service android:exported="true" android:name="com.google.android.gms.nearby.exposurenotification.WakeUpService" android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="false" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="it.payback.client.android.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="it.payback.client.android.adjust-lifecycle-provider" android:exported="false" android:name="com.adjust.sdk.SystemLifecycleContentProvider"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="sensorLandscape" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="it.payback.client.android.CCInitProvider" android:enabled="true" android:exported="false" android:name="com.cardinalcommerce.a.setAutoSizeTextTypeUniformWithPresetSizes"/>
        <activity android:exported="false" android:name="com.cardinalcommerce.shared.cs.userinterfaces.ChallengeHTMLView" android:theme="@style/CardinalSDKTheme.ActionBar"/>
        <activity android:exported="false" android:name="com.cardinalcommerce.shared.cs.userinterfaces.ChallengeNativeView" android:theme="@style/CardinalSDKTheme.ActionBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <android:activity android:exported="false" android:name="de.payback.app.ProtectedApp$v" android:process=":p5ca652811fef617ce1ce1229"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>