*{
	margin: 0; 
	padding: 0; 
	outline: 0;
}

body {
    font-family: 'Roboto',sans-serif;
    background: #e5ecf6;
    color: #4b4b4d;
	padding: 5px;
	line-height: 24px;
	margin: 5px;
}


h1 {
    
    font-size: 19px;
    padding-top: 6px;
	padding-bottom: 6px;
}

h2 {
  
    font-size: 16px;
    line-height: 21px;
	padding-top: 6px;
	padding-bottom: 4px;
}

h3 {
    font-size: 15px;
    line-height: 21px;
	margin: 8px 0 0 0;
}

a {
    color: #0046aa;
    text-decoration: underline;
}

section {
    padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	display: block;
}

ul {
	padding-left: 13px;
	padding-right: 10px;	
}
p {
    
	padding-top: 5px;
	padding-right: 2px;	
	padding-bottom: 5px;
	padding-left: 1px;
	font-size: 15px;
}

#mainNavigation {
    list-style-type: none;
    display: block;
    background: #fff;
    border-top: 1px solid #7fa2d4;
    border-bottom: 1px solid #7fa2d4;
    margin-top: 25px;
	padding-left: 8px;
	padding-right: 8px;
}

#mainNavigation li {
	font-family: 'Roboto',sans-serif;
    background: none;
    margin: 0 0 -1px 5px;
    border-bottom: 1px solid #7fa2d4;	
}

#mainNavigation li last-child {
    border-bottom: 0 solid #7fa2d4;
}

#mainNavigation li a {  
    line-height: 40px;
    display: block;
	font-size: 15px; 
}

ol {
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}

dd {
    padding: 0 2px 0 15px;
}



li {
	font-size: 15px;		
	padding-left: 2px;
}
.sub_navigation {
    padding: 0 0 0 15px;
	font-size: 13px;
}


.scrollToTop hover{
	text-decoration: none;
	cursor: default;
}

.legal-text-container {
	margin-bottom: 80px;
}

.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: url("up-arrow.png") no-repeat center 50%;
	border-radius: 30px;
	opacity: .7;
}